<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Training Suite">
    <listeners>
    </listeners>
    <test thread-count="1" parallel="methods" name="Test">
        <classes>
            <class name="com.abhi.tests.BaseTest"/>
            <class name="com.abhi.tests.HomePageTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->